<!-- <app-header/>


<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
  <app-card/>
  <app-card/>
  <app-card/>
  <app-card/>
</div>

<app-footer/> -->
<!-- <button class="btn btn-primary">sdf</button> -->
<!-- <app-input-output/> -->





<!-- <app-data-banding> -->


  <app-header />

<div class="container">
    <div class="row justify-content-center gap-5">
        <app-card  *ngFor="let post of posts " [posts]="post"  Class="col-6" />

    </div>
</div>

<app-footer />
